@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f5;
  color: #4e4e4e;
  font-family: 'Poppins';
}

.row {
  padding-left: 1rem;
  padding-right: 1rem; 
}
html {
  scroll-behavior: smooth;
  min-height: 100vh;
  overflow: auto;
}